body {
    background-color: black;
    color: white;
    font-family: "Manrope", sans-serif;
}

.navbar {}

header {}


/* Carrusel */

.imgcarru {
    /* height: 55rem;
    width: 55rem; */
}

/* Quiénes somos */

.icotext {
    background-color: aqua;
    width: 100%;
    text-align: center;
    padding-bottom: 0.5rem;
    padding-top: 0.25rem;
}

/* Tarjetas */

.conraya {
    border-bottom: 1px solid darkgray;
    padding-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
}

.card img {
    height: 10rem;
}

.card-body {
    background-color: aqua;
    height: 15rem;
}

/* CONTACTO */

.contact {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Footer */

.footerflex {
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.footertexto {
    text-decoration: none;
    
   }

.footericonos {

    
}